body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(45, 1, 87);
  font-family: sans-serif;
  overflow-y: hidden;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  border: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  background-color: rgb(231, 220, 241);
}

#time-left {
  background-color: rgb(80, 6, 155);
  color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 30px;
  font-size: 2rem;
  margin: 30px 0;
}

#time-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.time-selector {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  text-align: center;
}

.time-selector button {
  height: 35px;
  width: 35px;
}

#play-pause-reset-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-pause-reset-btns-wrapper button {
  margin: 0 20px;
}
