body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(45, 1, 87);
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  border: none;
}

#time-left {
  background-color: rgb(215, 190, 240);
  color: rgb(40, 13, 68);
  padding: 30px;
  border-radius: 30px;
  font-size: 2rem;
}

#time-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: #fff;
}

.time-selector {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#play-pause-reset-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-pause-reset-btns-wrapper button {
  margin-right: 20px;
}
